@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@layer base {
    body {
        @apply font-[Poppins];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

body {
    background-color: #ffffff;
    /* White */
    color: #333333;
    /* Almost Black */
    scroll-padding-top: 100px;
}

.dark body {
    background-color: #1a1a1a;
    /* Almost Black */
    color: #f5f5f5;
    /* Almost White */
}


/* Navbar styles */

.fixed {
    background-color: #ffffff;
    /* White for light mode */
    color: #333333;
    /* Almost Black */
}

.fixed.translucent {
    background-color: transparent;
}

.dark body {
    @apply bg-[#1a1a1a] text-[#f5f5f5];
}

.dark .fixed {
    @apply bg-[#1a1a1a] text-[#f5f5f5];
}

.dark .absolute {
    @apply bg-[#1a1a1a];
}

.dark .w-full.h-screen {
    @apply bg-[#1a1a1a];
}


/* Mobile menu */

.absolute {
    background-color: #ffffff;
    /* White for light mode */
}

.dark .absolute {
    background-color: #1a1a1a;
    /* Almost Black for dark mode */
}


/* Home Component styles */

.w-full.h-screen {
    background-color: #ffffff;
    /* White for light mode */
}

.dark .w-full.h-screen {
    background-color: #1a1a1a;
    /* Almost Black for dark mode */
}


/* Additional styles can go here */

ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    color: darkblue;
    text-decoration: underline;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient( to right, rgba(112, 157, 255, 0.8), hsla(242, 74%, 61%, 0.8))!important;
}

.html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}